<ul class="vnt-menu-bar">
    <li><a [routerLink]="['chat']" routerLinkActive="vnt-active-page">Chat</a></li>
    <li><a [routerLink]="['about']" routerLinkActive="vnt-active-page">About</a></li>
</ul>
<div class="jumbotron vnt-chat-header">
  <div>
    <h2>Bootcamp Angular 2017</h2>
    <h1><span class="vnt-brand-header">VNT</span>CHAT</h1>
  </div>
  <div class="vnt-user-details" *ngIf="_userService.isUserLoggedIn()">
      <p>Welcome, {{ _userService.getUsername() }}!</p>
      <p>
        Last login: {{ _userService.getLoginDate() | date: 'dd/MM/yyyy, HH:mm' }}
        <button class="btn btn-primary" (click)="_userService.logout()">Log Out</button>
      </p>
  </div>
</div>
