<div class="vnt-about-box">
  <p>VNT CHAT is an application developed for learning purposes. It composes the front-end of a chat application which connects to a back-end server and allows users to exchange messages.</p>
  <p>This application is part of <strong>Venturus Bootcamp Angular</strong>, which happened in 2017 at <a href="http://www.venturus.org.br/" target="_blank">Venturus Innovation and Technology Center</a>.</p>
  <p>The app was built on top of Angular 5 and allowed the developers to exercise different concepts of the framework which are needed to build functional applications.</p>
</div>