li {
    margin: 5px 0;
    width: 70%; 

    .vnt-message-info {
        color: #999;
        margin: 0;
        padding: 0 3px;

        .vnt-author-name {
            font-weight: bold;
        }
    }

    .vnt-message-text {
        border-radius: 10px;
        background: #eee;
        padding: 10px;
    }
}

.vnt-my-own-message {
    margin-left: 30%;

    .vnt-message-info {
        color: #008fb3;
        text-align: right;
    }
    .vnt-message-text {
        background: #ccf5ff;
    }
}