<div>
  <ul #autoScrollingArea>
    <vnt-chat-item *ngFor="let message of _messageList"
      [author]="message.author" [time]="message.time" [message]="message.message">
    </vnt-chat-item>
  </ul>

  <div class="vnt-compose-message">
    <textarea [(ngModel)]="_unsentMessage" maxlength="{{ MAX_CHARACTER_COUNT }}"></textarea>
    <p class="vnt-remaining-characters">Characters: {{ _unsentMessage.length }} / {{ MAX_CHARACTER_COUNT }}</p>
    <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
  </div>
</div>